<div id="navbar-main">
    <!-- Fixed navbar -->
    <div class="navbar navbar-fixed-top navbar-orange">
        <div class="container">
            <!--div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#header">Principal</a>
            </div-->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a  href="" class="smoothScroll" ng-click="main.cambiarTab('cooapica')" > Cooapica</a>
                    </li>
                    <li>
                        <a href="" class="smoothScroll" ng-click="main.cambiarTab('organizadores')"> Organizadores</a>
                    </li>
                    <li>
                        <a href="" class="smoothScroll" ng-click="main.cambiarTab('foro')"> Foro Fedeabejas</a>
                    </li>
                    <li>
                        <a href="#principal" class="smoothScroll"> Principal</a>
                    </li>
                    <li>
                        <a href="" class="smoothScroll" ng-click="main.cambiarTab('info')"> Información</a>
                    </li>
                    <li>
                        <a href="" class="smoothScroll" ng-click="main.cambiarTab('programacion')"> Programación</a>
                    </li>
                    <li>
                        <a href="#expo" class="smoothScroll"> Expoapícola</a>
                    </li>
                    <li>
                        <a href="" class="smoothScroll" ng-click="main.cambiarTab('inscripcion')"> Inscripción</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>