<div id="programacion" class="content" >
    <div class="container">
        <div class="row box">
            <h2 class="center content-header"><span ng-bind="admin.titulo"></span></h2>
            <hr>

            <div class="col-xs-12">
                <table class="table table-responsive table-bordered table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Correo
                            </th>
                            <th>
                                Recibo
                            </th>
                            <th>
                                Ponencia
                            </th>
                            <th>
                                Resumen
                            </th>
                            <th>
                                Stand
                            </th>
                            <th>
                                Aprobar
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="registro in admin.registros">
                            <td>
                                <span ng-bind="registro.nombre"></span>
                            </td>
                            <td>
                                <span ng-bind="registro.correo"></span>
                            </td>
                            <td>
                                <a class="btn btn-info btn-block" target="_blank" href="api/registroApi/archivo?tipo=n_recibo&archivo=<%registro.n_recibo%>" ng-show="registro.n_recibo !== ''">Recibo</a>
                                <!--button type="button" class="btn btn-info btn-block" ng-click="">
                                    Recibo
                                </button-->
                            </td>
                            <td>
                                <a class="btn btn-info btn-block" target="_blank" href="api/registroApi/archivo?tipo=n_ponencia&archivo=<%registro.n_ponencia%>" ng-show="registro.n_ponencia !== ''">Ponencia</a>
                            </td>
                            <td>
                                <a class="btn btn-info btn-block" target="_blank" href="api/registroApi/archivo?tipo=n_concurso&archivo=<%registro.n_concurso%>" ng-show="registro.n_concurso !== ''">Resumen</a>
                            </td>
                            <td>
                                <span class="fa fa-2x fa-check" ng-show="registro.interes === 'Stand'"></span>
                                <span class="fa fa-2x fa-close" ng-show="registro.interes !== 'Stand'"></span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-block" ng-show="registro.aprobado === '0'" ng-click="admin.aprobar(registro)">
                                    No aprobado
                                </button>
                                <button type="button" class="btn btn-success btn-block" ng-show="registro.aprobado === '1'" ng-click="admin.desaprobar(registro)">
                                    Aprobado
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

