<div id="alianza" class="content">
    <div class="container">
        <div class="row">
            <h2 class="center content-header">Alianza apícola del Cauca</h2>
            <hr>
            <div class="col-md-12 just">
                <p>
                    LA ALIANZA DE FORTALECIMIENTO DE LA CADENA APICOLA, surge ante la iniciativa de presentarse a una convocatoria
                    del Ministerio de Agricultura con la colaboración del Instituto Alexander Von Humboldt con ellos se elaboró el 
                    proyecto e denominado DETERMINACION DE LA FLORA APICOLA PARA LA COMPETITIVAD DE LA CADENA EN LOS DEPARTAMENTOS 
                    DE CUAC, HUILA Y BOLIVAR ,el cual brindo  experiencia  , confianza y una dinámica de trabajo en equipo  
                    durante los años 2007 a 2011 entre el Instituto Alexander Von Humboldt IAVH, quien realizo la labor de 
                    coordinación, el Ministerio de Agricultura y Desarrollo Rural MADR, quien financió e proyecto para 12 
                    municipios del Cauca, 6 municipios del Huila   y 2 municipios de Bolívar  en coordinación con la Corporación 
                    Universitaria Comfacauca- UNICOMFACAUCA, la Fundación Universitaria de Popayán- FUP, la Universidad Sur 
                    Colombiana del Huila  y las organizaciones de apicultores  la Cooperativa de apicultores COOAPICA en Cauca, 
                    Cooperativa de apicultores COAPI del Huila, y la cooperativa de apicultores de Bolívar quienes ejecutaron en 
                    sus respectivos departamentos los procesos de investigación entorno a CALENDARIOS FLORALES APICOLAS Y FLORA APICOLA.
                </p>
                <p>
                    En la actualidad la Alianza del proyecto Apícola está integrada por : Tres Instituciones de la  academia 
                    representada por la Corporación  Universitaria  Comfacauca – UNICOMFACAUCA, la Universidad del Cauca - UNICAUCA 
                    y la Fundación Universitaria de Popayán- FUP , Cuatro asociaciones de apicultores en el Cauca: Cooperativa de 
                    apicultores del Cauca COOAPICA, Asociación de apicultores del Sur del Cauca ASOAGRAR, Asociación de apicultores 
                    del Macizo Colombiano APIMACIZO, Asociación de apicultores de Almaguer ALMAAPICOLA,  la Corporación Autónoma Regional 
                    del Cauca-CRC y  la secretaria de agricultura y desarrollo rural del departamento.  Esta alianza ha hecho parte 
                    de las mesas de concertación nacional de Corpoica,  del plan de competitividad de la cadena CPAA, de la 
                    valoración y jerarquización de los procesos investigativos de la actividad apícola en el departamento y de 
                    otras actividades en pro de la conservación, investigación, tecnificación, divulgación y capacitación en pro 
                    del mejoramiento de la actividad apícola y el fortalecimiento de las agremiaciones de apicultores en la región.
                </p>
                <p>
                    La alianza ha desarrollado diferentes proyectos como “Calendarios Florales y Calendario apícola”, “Diagnóstico de la apicultura en el Departamento del Cauca”. Se puede acceder a la información en los siguientes links:

                </p>

                <ul>
                    <li>
                        calendarios florales apícolas los cuales se pueden consultar en 
                        <a class="info-blog" target="_blank" 
                           href="http://www.humboldt.org.co/es/noticias/item/380-compendio-de-calendarios-florales-apicolas-departamento-de-cauca-huila-y-bolivar">humbold.org.co</a>
                    </li>
                    <li>
                        Los catálogos de flora apícola los cuales se pueden revisar en
                        <a class="info-blog" target="_blank" 
                           href="http://www.humboldt.org.co/es/test/item/384-catalogo-fotografico-de-especies-de-flora-apicola-en-los-departamentos-de-cauca-huila-y-bolivar">humbold.org.co</a>
                    </li>
                    <li>
                        Y la cartilla de flora apícola la  cual se consulta en <span class="text-danger">¡Url mal formada!</span>
                        <a class="info-blog" target="_blank" 
                           href="www.humboldt.org.co/es/test/item/381-flora-apicola-determinacion-de-la-oferta-floral-apicola-como-mecanismo-para-optimizar-produccion-diferenciar-productos-de-lacolmena">humbold.org.co</a>
                    </li>
                </ul>



            </div>
        </div>
        <!--div class="row p50">
            <div class="col-sm-6">
                <figure>
                    <img alt="" class="img-responsive " src="images/panal1.jpg">
                </figure>
            </div>
            <div class="col-sm-6">
                <figure>
                    <img alt="" class="img-responsive " src="images/operario.jpg">
                </figure>
            </div>

        </div><!--/.row-->
    </div>
</div>