<div id="cooapica" class="content cooapica">
    <div class="container p50 bp50">
        <div class="row">
            <h2 class="center content-header">Cooapica</h2>
            <hr>
            <div class="col-md-6 just">
                <h3>
                    Quiénes somos
                </h3>
                <p>
                    “COOAPICA” es una empresa de carácter solidario, de 
                    propiedad de los apicultores del Cauca. Los apicultores 
                    son personas que cultivan y explotan en una forma racional 
                    a las abejas; son pequeños productores, campesinos e indígenas de la región.
                </p>
            </div>
            <div class="col-md-6 just">
                <h3>
                    Objetivos
                </h3>
                <p>
                    “Nuestro principal objetivo es potenciar el desarrollo 
                    de la actividad apícola en el departamento del Cauca, 
                    mejorando la calidad de vida de nuestros asociados”
                </p>
            </div>

        </div>
        <div class="row p50">
            <div class="col-md-6 just">
                <h3>
                    Misión
                </h3>
                <p>
                    Desarrollar la apicultura en el departamento del Cauca, 
                    como una alternativa de producción agropecuaria, 
                    aprovechando la enorme potencialidad de su diversidad, 
                    explotando sus productos, generando divisas, fuentes de empleo 
                    y alimento para las familias involucradas en el proceso. 
                    COOAPICA regulará los precios del mercado, ofreciéndole a 
                    los consumidores productos de excelente calidad a precios 
                    justos. A su vez, trabajará por mejorar la calidad de vida 
                    de sus asociados, acorde con la filosofía de cooperativismo 
                    y solidaridad en beneficio del pequeño productor
                </p>
            </div>
            <div class="col-md-6 just">
                <h3>
                    Visión
                </h3>
                <p>
                    COOAPICA será la cooperativa líder en investigación, 
                    producción y comercialización de productos apícolas, 
                    posicionando al departamento del Cauca, como una de 
                    las regiones más competitivas en el campo de la apicultura, 
                    ubicándola en el mercado nacional e internacional.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 center">
                <a class="info-blog" href=" http://cooapica.blogspot.com.co/" target="_blank">Mas información</a>
            </div>
        </div>
        <!--div class="row p50">
            <div class="col-sm-6">
                <figure>
                    <img alt="" class="img-responsive " src="images/panal1.jpg">
                </figure>
            </div>
            <div class="col-sm-6">
                <figure>
                    <img alt="" class="img-responsive " src="images/operario.jpg">
                </figure>
            </div>

        </div><!--/.row-->
    </div>
</div>