<div id="expo" class="content" ng-controller="InfoCtrl as info">
    <div class="container">
        <div class="row box">
            <h2 class="center content-header">Expo Apícola</h2>
            <hr>
            <div class="col-xs-3"> <!-- required for floating -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-left"><!-- 'tabs-right' for right tabs -->
                    <li class="active"><a href="" data-target="#informacion_expo" data-toggle="tab">Información de la feria Expo apícola</a></li>
                    <li><a href="" data-target="#p_general" data-toggle="tab">Plano</a></li>
                </ul>
            </div>
            <div class="col-xs-9">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="informacion_expo">
                        <div class="row">
                            <div class="col-xs-12 just">
                                <h3>
                                    En el marco del encuentro se realizará la exposición de productos, insumos y equipos apícolas. 
                                </h3>

                                Valor de stands para

                                <ul>
                                    <li>Expositores caucanas: <span class="fa fa-dollar"></span> 380.000</li>
                                    <li>Otros expositores: <span class="fa fa-dollar"></span> 450.000</li>
                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

