<div id="info" class="content" ng-controller="InfoCtrl as info">
    <div class="container">
        <div class="row box">
            <h2 class="center content-header"><span ng-bind="info.titulo"></span></h2>
            <hr>
            <div class="col-xs-2"> <!-- required for floating -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-left"><!-- 'tabs-right' for right tabs -->
                    <li class="active"><a href="" data-target="#presentacion" data-toggle="tab" ng-click="info.titulo = 'Presentación'">Presentación</a></li>
                    <!--li><a href="" data-target="#objetivos" data-toggle="tab" ng-click="info.titulo = 'Objetivos'">Objetivos</a></li-->
                    <!--li><a href="" data-target="#justificacion" data-toggle="tab">Justificación</a></li-->
                    <li><a href="" data-target="#popayan" data-toggle="tab" ng-click="info.titulo = 'La ciudad'">La Ciudad</a></li>
                    <li><a href="" data-target="#sede" data-toggle="tab" ng-click="info.mostrarSede()">La Sede</a></li>
                    <!--li><a href="" data-target="#organigrama" data-toggle="tab">Organigrama</a></li-->
                    <li><a href="" data-target="#oferta-hotelera" data-toggle="tab" ng-click="info.titulo = 'Oferta Hotelera'">Oferta Hotelera</a></li>
                    <li><a href="" data-target="#restaurantes" data-toggle="tab">Restaurantes típicos y de la ciudad</a></li>
                </ul>
            </div>
            <div class="col-xs-10">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="presentacion">
                        <div class="row">
                            <div class="col-xs-7 just">
                                Conscientes de la importancia de las abejas y el papel que desempeñan como polinizadores para garantizar la soberanía alimentaria del planeta se propone  realizar el XVIII Encuentro  Colombiano y I Encuentro Caucano de Apicultores «La Apicultura en el postconflicto» como un espacio de reflexión, análisis y difusión de los procesos que se vienen realizando entorno al fortalecimiento, productividad, competitividad y mejoramiento del sector apícola en el País con la finalidad de generar  estratégicas para el postconflicto.
                                El espacio invita a apicultores, organizaciones apícolas, productores agropecuaríos, académicos, entidades del Estado, y demás interesados, a reflexionar sobre la PAZ de una manera integral, Paz para la humanidad, Paz para el  ambiente PAZ para y desde las abejas.
                            </div>
                            <div class="col-xs-5">
                                <figure>
                                    <img alt="" class="img-responsive " src="images/img2.jpg">
                                </figure>
                            </div>
                        </div>
                        <div class="row just">
                            <div class="col-xs-5">
                                <h3>
                                    Objetivo general
                                </h3>
                                Desarrollar un espacio de encuentro nacional para el sector apícola en el Departamento del Cauca denominado “XVIII congreso  nacional de apicultores  y I encuentro regional de apicultores del Cauca.

                            </div>                                    
                            <div class="col-xs-7">
                                <h3>
                                    Objetivos específicos
                                </h3>
                                <ul> 
                                    <li>
                                        Fortalecer conocimientos en la apicultura mediante conferencias, trabajos de investigación y experiencias significativas.
                                    </li> 
                                    <li>
                                        Promover la asociatividad a nivel nacional y regional del gremio de apicultores.
                                    </li> 
                                    <li>
                                        Generar  un espacio para la promoción y comercialización de procesos, equipos, productos apícolas y los derivados de la agroindustria, denominado “Expoapícola Cauca”
                                    </li> 
                                    <li>
                                        Desarrollar  propuestas estratégicas para el fortalecimiento del Sector apícola del Cauca.
                                    </li> 
                                </ul>
                            </div>    

                        </div>
                        <div class="row">
                            <div class="col-xs-12 just">
                                <h3>
                                    Justificación
                                </h3>
                                <p>
                                    Este espacio permitirá  reflexionar sobre el  panorama de oportunidades y retos que tienen los apicultores en el país frente a  los requerimientos de los mercados nacionales e internacionales en la demanda de los productos apícolas. Así mismo, se convierte en una herramienta que moviliza intercambio de experiencias, reflexiones, circulación de los productos apícolas y  reconocimiento de trabajos intersectoriales. En esta medida, el Encuentro puede ser considerado como la oportunidad para actuar como un enjambre cuyo horizonte político está basado en la unión, asociatividad y alternativas de solución para el proceso del postconflicto.
                                </p>
                            </div>
                        </div> 
                    </div>
                    <div class="tab-pane" id="objetivos">

                    </div>
                    <div class="tab-pane" id="justificacion">

                    </div>
                    <div class="tab-pane" id="popayan">
                        <div class="col-xs-7 just">
                            <p>
                                Popayán es la Capital del Departamento del Cauca,  reconocida por su  arquitectura colonial ya que fue fundada el  13 de enero de 1537  cuenta con numerosas joyas arquitectónicas como el  Puente del  Humilladero, Capilla de Belèn, Iglesia del Carmen, San Francisco y Santodomingo, templo de la encarnaciòn, La Ermita, Museo de Arte Religioso, Casa Museo Negret, La torre del Reloj, Panteòn de los próceres, Museo arquidiocesano religioso.
                            </p>
                            <p>
                                Se encuentra a una  altitud media  1760 m sobre el nivel del mar y se mantiene a una  temperatura promedio de 18/20 °C. 
                            </p>
                            <p>
                                El 28 de septiembre de 2009 las Procesiones de Semana Santa de Popayán fueron declaradas por la UNESCO como Obra Maestra del Patrimonio Oral e Inmaterial de la Humanidad. 
                            </p>
                            <p>
                                Es  el único lugar de Latinoamérica en haber sido declarado Ciudad de la Gastronomía de la Unesco, gracias a la oferta de su cocina local. 
                            </p>
                            <p>
                                Es conocida también como la «Ciudad Blanca», «Ciudad Fecunda», «Ciudad Procera» y «Ciudad Universitaria».
                            </p>
                        </div>
                        <div class="col-xs-5">
                            <figure>
                                <img alt="" class="img-responsive " src="images/popayan3.jpg">
                            </figure>
                        </div>
                    </div>
                    <div class="tab-pane" id="sede">
                        <div class="row just">
                            <div class="col-xs-12">
                                <h3>
                                    Para el Desarrollo de las actividades teóricas, conferencias Internacionales y Nacionales la Sede 
                                    será el Centro de Convenciones Casa de la Moneda y  para el día de Campo las actividades se 
                                    desarrollarán en la fundación Universitaria.
                                </h3>
                                <p>
                                    La Casa de la Moneda es el ícono que representa la grandeza de Popayán en el siglo XVIII. Allí se 
                                    acopiaba todo el metal que salía de las grandes minas, se pesaba, se fundía, se recaudaba el impuesto 
                                    que correspondía al rey, se comercializaba y luego se despachaba a España. Desde entonces, Popayán 
                                    se convirtió en el centro económico de una región que ocupaba más o menos la mitad de la Colombia actual. 
                                </p>
                                <p>
                                    En 1908  este lugar se convirtió en guarnición militar albergando al Batallón Junín) y en la segunda 
                                    mitad del siglo XX sirvió como sede de la Policía Cauca, en  1983, cuando el terremoto  sacudió a Popayán 
                                    la infraestructura se dañò lo que llevó a su demolición. En los años 90  el predio fue usado como 
                                    parqueadero y en época de Semana Santa era recurrente usarlo para exposiciones artesanales. 
                                    Hoy en dìa, en este sitio histórico en el cual hubieron diversos hallazgos arqueológicos respecto a 
                                    cerámicas y lozas importadas de europa  encontradas por el Grupo de Investigación Estudios Arqueológicos 
                                    Regionales (EAR) de la Universidad del Cauca se encuentra ubicado el  Centro de Convenciones 
                                    'Casa de la Moneda', Edificaciòn realizada por la gobernación del Cauca en convenio con otras entidades gubernamentales.
                                </p>
                                <p>
                                    Actualmente, este lugar se ha convertido en el principal espacio para el desarrollo de importantes eventos 
                                    en la ciudad de Popayàn, además de que su ubicación permite la visibilizaciòn de los procesos institucionales, 
                                    culturales y comerciales que en èl se desarrollan.
                                </p>
                                <p>
                                    Para esta ocasión el Centro  de Convenciones Casa de La Moneda  da la bienvenida al XVIII Encuentro 
                                    Colombiano y I Encuentro Caucano de apicultores la Apicultura y el Postconflicto”  un espacio  propicio 
                                    para conversar, conocer y proponer.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 just">
                                <div id="map">

                                </div>
                            </div>
                            <div class="col-xs-6">
                                <ng-gallery images="info.images">

                                </ng-gallery>
                            </div>
                        </div></div>
                    <div class="tab-pane" id="organigrama">Organigrama</div>
                    <div class="tab-pane" id="oferta-hotelera">
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table table-responsive table-bordered table-hover">
                                    <thead >
                                        <tr>
                                            <th class="center">
                                                HOTEL
                                            </th>
                                            <th class="center">
                                                sencilla/noche 
                                            </th>
                                            <th class="center">
                                                doble/noche 
                                            </th>
                                            <th class="center">
                                                tripe/noche 
                                            </th>
                                            <th class="center">
                                                CONTACTO
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>HOTEL SAN MARTÍN</td>
                                            <td><span>$140.000 + desayuno</span></td>
                                            <td><span>$180.000 + desayuno</span></td>
                                            <td><span>$220.000 + desayuno</span></td>
                                            <td><span>(092) 8237070</span></td>
                                        </tr>
                                        <tr>
                                            <td>LA PLAZUELA HOTEL</td>
                                            <td><span>$140.000 + desayuno</span></td>
                                            <td><span>$140.000 + desayuno</span></td>
                                            <td><span>$190.000 + desayuno</span></td>
                                            <td><span>(092) 8241084</span></td>
                                        </tr>
                                        <tr>
                                            <td>HOTEL LA ALCAYATA</td>
                                            <td><span>$82.000 + desayuno</span></td>
                                            <td><span>-</span></td>
                                            <td><span>-</span></td>
                                            <td><span>(092) 8243228</span></td>
                                        </tr>
                                        <tr>
                                            <td>HOTEL PUERTA DEL SOL</td>
                                            <td><span>$75.000 ($58.000 sin desayuno)</span></td>
                                            <td><span>$85.000 ($68.000 sin desayuno)</span></td>
                                            <td><span>$125.000 ($90.000 sin desayuno)</span></td>
                                            <td><span>(092) 8239814</span></td>
                                        </tr>
                                        <tr>
                                            <td>HOTEL VALLE DE PUBENZA</td>
                                            <td><span>$75.000 + desayuno</span></td>
                                            <td><span>$100.000 + desayuno</span></td>
                                            <td><span>$150.000 + desayuno</span></td>
                                            <td><span>(092) 821636</span></td>
                                        </tr>
                                        <tr>
                                            <td>HOTEL EL RECUERDO</td>
                                            <td><span>$111.500 + desayuno</span></td>
                                            <td><span>$146.200 + desayuno</span></td>
                                            <td><span>$190.000 + desayuno</span></td>
                                            <td><span>(092) 8233156</span></td>
                                        </tr>
                                        <tr>
                                            <td>HOTEL CAMINO REAL</td>
                                            <td><span>$89.500 + desayuno</span></td>
                                            <td><span>123.500 + desayuno</span></td>
                                            <td><span>$154.500 + desayuno</span></td>
                                            <td><span>(092) 8334444</span></td>
                                        </tr>
                                        <tr>
                                            <td>HOTEL SAN JERONIMO</td>
                                            <td><span>$90.000 + desayuno</span></td>
                                            <td><span>$120.000 + desayuno</span></td>
                                            <td><span>$160.000 + desayuno</span></td>
                                            <td><span>(092) 8222020</span></td>
                                        </tr>
                                        <tr>
                                            <td>HOTEL ACHALAY</td>
                                            <td><span>$80.000  + desayuno</span></td>
                                            <td><span>$110.000+ desayuno</span></td>
                                            <td><span>$140.000 + desayuno</span></td>
                                            <td><span>(092) 8242737</span></td>
                                        </tr>
                                        <tr>
                                            <td>HOTEL COLONIAL</td>
                                            <td><span>$65.00 + desayuno</span></td>
                                            <td><span>$85.000 + desayuno</span></td>
                                            <td><span>$120.000 + desayuno</span></td>
                                            <td><span>(092) 8317848</span></td>
                                        </tr>
                                        <tr>
                                            <td>HOTEL LOS BALCONES</td>
                                            <td><span>$122.000 +desayuno</span></td>
                                            <td><span>168.000 + desayuno</span></td>
                                            <td><span>240.000 + desayuno (4)</span></td>
                                            <td><span>(092) 8242030</span></td>
                                        </tr>
                                        <tr>
                                            <td>HOSTAL TRAIL</td>
                                            <td><span>$42.00 - $52.000</span></td>
                                            <td><span>$58.000 - $70.000</span></td>
                                            <td><span>-</span></td>
                                            <td><span>(092) 8317871</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <span class="font-14 text-primary">
                                    Algunos valores no incluyen impuestos como el IVA (16%)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="restaurantes">Restaurantes</div>
                </div>
            </div>
        </div>
    </div>
</div>