<div id="programacion" class="content" ng-controller="InfoCtrl as info">
    <div class="container">
        <div class="row box">
            <h2 class="center content-header"><span ng-bind="registro.titulo"></span></h2>
            <hr>
            <div class="col-xs-3"> <!-- required for floating -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-left"><!-- 'tabs-right' for right tabs -->
                    <li class="active"><a href="" data-target="#info_inscripcion" data-toggle="tab" ng-click="registro.titulo = 'Información de inscripción'">Información de inscripción</a></li>
                    <li><a href="" data-target="#trabajos" data-toggle="tab" ng-click="registro.titulo = 'Trabajos y experiencias apícolas'">Trabajos y experiencias apícolas</a></li>
                    <li><a href="" data-target="#concurso_foto" data-toggle="tab" ng-click="registro.titulo = 'Concurso de fotografía e innovación'">Concurso de fotografía e innovación</a></li>
                    <li><a href="" data-target="#formulario" data-toggle="tab" ng-click="registro.titulo = 'Formulario de inscripción'">Formulario de inscripción</a></li>
                </ul>
            </div>
            <div class="col-xs-9">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="info_inscripcion">
                        <div class="row">
                            <div class="col-xs-12 just">
                                <table class="table table-bordered table-responsive table-striped">
                                    <thead class="text-center">
                                        <tr>
                                            <td>
                                                <b>
                                                    Descripción
                                                </b>
                                            </td>
                                            <td>
                                                <b>
                                                    Con descuento hasta el 20 de Julio
                                                </b>
                                            </td>
                                            <td>
                                                <b>
                                                    Desde el 21 de julio hasta el 11 de Agosto
                                                </b>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b>
                                                    Apicultores de organizaciones del Cauca
                                                </b>
                                            </td>
                                            <td>
                                                <span class="fa fa-dollar"></span>
                                                60.000
                                            </td>
                                            <td>
                                                <span class="fa fa-dollar"></span>
                                                90.000
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>
                                                    Estudiantes con carné
                                                </b>
                                            </td>
                                            <td>
                                                <span class="fa fa-dollar"></span>
                                                80.000
                                            </td>
                                            <td>
                                                <span class="fa fa-dollar"></span>
                                                115.000
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>
                                                    Otros asistentes
                                                </b>
                                            </td>
                                            <td>
                                                <span class="fa fa-dollar"></span>
                                                130.000
                                            </td>
                                            <td>
                                                <span class="fa fa-dollar"></span>
                                                160.000
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>
                                                    Grupos nacionales de 6 personas en adelante
                                                </b>
                                            </td>
                                            <td>
                                                <span class="fa fa-dollar"></span>
                                                120.000 %
                                            </td>
                                            <td>
                                                <span class="fa fa-dollar"></span>
                                                150.000
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h6>Nota: los estudiantes deben presentar su carné. El valor de inscripción  No incluye chiva rumbera ni giras turísticas  en el encuentro.</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h4><b>Qué incluye la inscripción</b></h4>
                                <ul>
                                    <li>
                                        Asistencia a conferencias internacionales y nacionales.
                                    </li>
                                    <li>
                                        Participación en Mesas temáticas
                                    </li>
                                    <li>
                                        Cartilla de Resúmenes de los trabajos que se presentan en el encuentro
                                    </li>
                                    <li>
                                        Refrigerios durante los recesos.
                                    </li>
                                    <li>
                                        Certificado de Asistencia.
                                    </li>
                                    <li>
                                        Ruta ecológica y apícola (Transporte y almuerzo durante este día).
                                    </li>
                                    <li>
                                        Participación en el concurso de fotografía.
                                    </li>
                                    <li>
                                        Participación en el concurso de Innovación apícola.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="trabajos">
                        <div class="row">
                            <div class="col-xs-12 just">
                                Tra
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="formulario">
                        <div class="row">
                            <div class="col-xs-12 just">
                                <h4>
                                    <b>LA HUELLA DE CARBONO</b>
                                </h4>
                                <p>
                                    La <span> <b> huella de carbono</b> </span>  se conoce como la totalidad de gases de efecto invernadero (GEI) emitidos por efecto directo o indirecto de un individuo, organización, evento o producto. Para este evento la Profesora Carmenza López de la Universidad del Cauca medirá  la huella de Carbono,  con la finalidad de saber cuanta energía se gastó y en cuento tiempo podemos recuperarla para mitigar el impacto ambiental. En este sentido, necesitamos de tu colaboración permitiéndonos conocer tus rutas, fechas y medio de transporte  solicitadas en el formulario. Gracias !!! Por un mundo más amigable con el Ambiente.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <form class="font-14" name="form"> 
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="form-group" ng-class="{ 'has-error' : form.nombre.$invalid && !form.nombre.$pristine }">
                                                        <label >
                                                            Nombre
                                                        </label>
                                                        <input type="text" name="nombre" class="form-control" ng-model="registro.nombre" ng-required='true' >
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group" ng-class="{ 'has-error' : form.cedula.$invalid && !form.cedula.$pristine }">
                                                        <label >
                                                            Cédula
                                                        </label>
                                                        <input type="text" name="cedula" class="form-control" ng-model="registro.cedula" ng-required='true'>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label >
                                                            Pasaporte (Si es extranjero)
                                                        </label>
                                                        <input type="text" class="form-control" ng-model="registro.pasaporte">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label >
                                                            Nacionalidad
                                                        </label>
                                                        <input type="text" class="form-control" ng-model="registro.nacionalidad">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-group">
                                                        <label>
                                                            Departamento
                                                        </label>
                                                        <input type="text" class="form-control" ng-model="registro.departamento">
                                                    </div>
                                                </td>
                                                <td colspan="2">
                                                    <div class="form-group">
                                                        <label>
                                                            Municipio
                                                        </label>
                                                        <input type="text" class="form-control" ng-model="registro.municipio">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label>
                                                            Teléfono
                                                        </label>
                                                        <input type="text" class="form-control" ng-model="registro.telefono">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-group" ng-class="{ 'has-error' : form.correo.$invalid && !form.correo.$pristine }">
                                                        <label>
                                                            Correo electrónico
                                                        </label>
                                                        <input type="email" class="form-control" name="correo" ng-model="registro.correo" ng-required='true'>
                                                    </div>
                                                </td>
                                                <td colspan="2">
                                                    <div class="form-group">
                                                        <label>
                                                            Entidad
                                                        </label>
                                                        <input type="text" class="form-control" ng-model="registro.entidad">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label>
                                                            Ocupación
                                                        </label>
                                                        <input type="text" class="form-control" ng-model="registro.ocupacion">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <label>Ruta de viaje</label>
                                                    <input type="text" class="form-control" ng-model="registro.ruta">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <label>Interés</label>
                                                    <select class="form-control" ng-model="registro.interes" ng-change="registro.cambiarInteres()">
                                                        <option>Asistente</option>
                                                        <option>Ponente</option>
                                                        <option>Stand</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr ng-hide="registro.interes == 'Asistente'">
                                                <td colspan="4">
                                                    <label ng-show="registro.interes == 'Stand'"> Nombre de la entidad que solicita el stand</label>
                                                    <label ng-show="registro.interes == 'Ponente'"> Título del Nombre del Trabajo o experiencia significativa</label>
                                                    <input type="text" class="form-control" name="nombre1" ng-model="registro.nombre1">
                                                    <span ng-show="registro.rn1 == true" class="text-warning">Campo requerido</span>
                                                </td>
                                            </tr>
                                            <tr ng-hide="registro.interes == 'Asistente'">
                                                <td colspan="4" ng-show="registro.interes == 'Ponente'">
                                                    <label > Adjuntar resumen del trabajo  o experiencia significativa</label>
                                                    <input type="file" class="" file-model="registro.rPonencia">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <label>Concurso</label>
                                                    <select class="form-control" ng-model="registro.concurso" ng-change="registro.cambiarConcurso()">
                                                        <option>No aplica</option>
                                                        <option>Concurso de apícola</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr ng-hide="registro.concurso == 'No aplica'">
                                                <td colspan="4">
                                                    <label>Título <span class="text-norm">(Título del producto innovador)</span></label>
                                                    <input type="text" class="form-control" ng-model="registro.tituloProducto">
                                                </td>
                                            </tr>
                                            <tr ng-hide="registro.concurso == 'No aplica'">
                                                <td colspan="4">
                                                    <label > Adjuntar resumen de trabajo</label>
                                                    <input type="file" class="" file-model="registro.rConcurso">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <label > Adjuntar recibo de pago</label>
                                                    <input type="file" class="" file-model="registro.recibo">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="center">
                                                    <button type="button" class="btn btn-success btn-lg" ng-click="registro.enviar()" 
                                                            ng-disabled="registro.rn1 || registro.rn2 || ((form.$dirty && form.$invalid) || form.$pristine)">
                                                        Enviar
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>   
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

