<div class="header" id="header">
    <div class="clearfix center header-inner">
        <i class="fa fa-language icon"></i>
        <h1>XVIII Encuentro Colombiano y I Encuentro Regional de Apicultores del Cauca</h1>
        <p class="lead">
            Popayán, Agosto 11, 12 y 13 de 2016
        </p>
    </div>
</div>

<script type="text/javascript">
    var f1 = function () {
        var fulls = $('.header');
        var win = $(window);
        fulls.height(win.height());
    };
    $(window).bind('resize', f1);
    f1();
</script>